<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:requestLegacyExternalStorage="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aban"
        tools:targetApi="31">

        <activity
            android:name=".DiagnosisResult"
            android:exported="true" />


        <activity
            android:name=".CancellationResult"
            android:exported="true" />
        <activity
            android:name=".DisplayAudioFilesActivity"
            android:exported="true" >

        </activity>

        <activity
            android:name=".Cancellation"
            android:exported="true"/>


        <activity
            android:name=".Diagnosis"
            android:exported="true" />



        <activity
        android:name=".ResultType"
        android:exported="true" />

        <activity
            android:name=".LevelOneResult"
            android:exported="true" />

        <activity
            android:name=".LogIn"
            android:exported="true" />
        <activity
            android:name=".Checkletter"
            android:exported="true" />
        <activity
            android:name=".CancellationOverview"
            android:exported="true" />
        <activity
            android:name=".LevelOne"
            android:exported="true" />
        <activity
            android:name=".Levels"
            android:exported="true" />

        <activity
            android:name=".account"
            android:exported="true" />

        <activity
            android:name=".SignUp"
            android:exported="true"
            tools:ignore="IntentFilterExportedReceiver">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

</application>

</manifest>